@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.app {
  width: 100vw;
}

.header-container {
  background-color: #161616ed;
  width: 100%;
  padding: 25px 2%;
}

.header-container ul {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  list-style: none;
}
.header-container ul li {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  transition: 0.5s;
}
.header-container ul li:hover {
  color: #fea400;
}

/* main */
.main-container {
  background-color: rebeccapurple;
  width: 100vw;
  height: calc(100vh - 69px);
  background-image: url("images/bg-pizzas.jpg");
}

#home {
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #ffffff;
}
#home h1 {
  margin-top: 10rem;
  font-weight: 300;
  font-size: 3rem;
}
#home p {
  font-weight: 400;
  margin-top: 1rem;
}
.btn-menu {
  margin-top: 1.5rem;
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  background-color: #fea400;
  font-weight: bold;
  font-size: 1rem;
}
